@mixin m_contents($bg, $w) {
  background-color: $bg;
  padding: 50px 0;
  text-align: center;
  color: white;
  width: $w;
}
.contents {
  display: flex;

  .content {
    @include m_contents(aquamarine, 70%);
  }

  .sidebar {
    @include m_contents(orange, 30%);
  }
}
